<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <h1>FINALLYYYYY</h1>
  <% current_user %>
  <%= a = 'gets.chomp' %>
  <br>
  <%= a.split("")[3] %>
  <%= simple_form_for [a] do |f| %>
    <%= f.input , label: 'from', input_html: %>
  <% end %>

</div>
